* {
    /*box-sizing: content-box; /* é o que vem por padrão no elemento. */

    box-sizing: border-box; /*quando definir o tamanho, ele vai incluir sim, tanto o paddind, quanto o border.*/

    
}

.exemplo{
    /*border: 4px dashed darkgoldenrod;*/
    background-color: darkgray;
    padding: 10px;
    margin: 20px;
    height: 90px;
    width: 80%;
    border: 5px double darkgreen;
}

/*img {

    width: 100%;
    width: auto;
    width: inherit;
    max-width: 150; 
} */