* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color:darkgoldenrod;
    font-size: 30px;
    font-weight: bold;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Playwrite CL';
    text-align: center; 
    text-transform: lowercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    text-shadow: 1px 5px 15px darkmagenta;
}

a {
    text-decoration: wavy;
}

a:hover{
    text-decoration:line-through;
}

h1{
    font-family: "Grey Qo";
}