body{
    margin: 0;
}


.container{
    width: calc(100% - 20px);
    height: 200px;
    background-color:firebrick;
    color: floralwhite;
    font-size: 30px;
    border: 6px solid fuchsia;
}

.container strong{
    color: forestgreen;
    border: 3px solid gainsboro;
}