h1 {
    color:blueviolet;
    font-size: 50px;
    background-color: rgb(6, 59, 236);
}

#Jesus {
    color: cadetblue;
    background-color: cornflowerblue;
}

.A{
    color: chartreuse;
    background-color: #5A68A9;
}

a{
    color:brown;
    font-size: 20px;
}

img{
    width: 300px;
}



li{

    font-weight: bold;
    color:burlywood;
    
}

#B, .C{
    color: chocolate;
}

ol li{
    color: coral;
}