h1 {
    color:blueviolet;
    font-size: 50px;
    background-color: rgb(6, 59, 236);
}

#Jesus {
    color: cadetblue;
    background-color: cornflowerblue;
}

.A{
    color: chartreuse;
    background-color: #5A68A9;
}

a{
    color:brown;
    font-size: 20px;
}

img{
    width: 300px;
    border: 6px dotted darkcyan;
    border-radius: 8px;
}



li{

    font-weight: bold;
    color:burlywood;
    
}

#B, .C{
    color: chocolate;
}

ol li{
    color: coral;
}

p{
    /*border-right: 7px outset #6495ed;*/
    background-color: crimson;
    border-radius: 5px;
    
}

div {
    background-color: cyan;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 9px solid darkblue;
}